<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Empleados</li>
      <li><a href="{% url 'persona_app:all-employed' %}">Listar</a></li>
      <li><a href="{% url 'departamento_app:index' %}">Departamentos</a></li>
      <li><a href="#">Administrar</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><a class="button"  href="{% url 'persona_app:create' %}">Registrar Nuevo</a></li>
    </ul>
  </div>
</div>
<br><br>