{% extends 'index.html' %}

{% block title %}Crear departamento{% endblock %}

{% block content %}

{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell">
            <form method="post" class="cell callout grid-x grid-margin-x">
                {% csrf_token %}
                <div class="cell h1 center" style="text-align:center; ">Info. Empleado</div>
                <div class="large-12 cell">
                    <label><strong>First Name</strong>
                        {{ form.nombres }}
                    </label>
                </div>
                <div class="large-12 cell">
                    <label><strong>Last Name</strong>
                        {{ form.apellidos }}
                    </label>
                </div>

                <!-- department -->
                <div class="cell h1 center" style="text-align:center; ">Info. Area</div>
                <div class="large-12 cell">
                    <label><strong>Name Area:</strong>
                        {{ form.departamento }}
                    </label>
                </div>
                <div class="large-12 cell">
                    <label><strong>Short Name of Area:</strong>
                        {{ form.shortname }}
                    </label>
                </div>

                <div class="cell large-12 grid-x grid-margin-x">
                    <button class="button success large-12" type="submit">Crear</button>
                    <a class="button alert large-12" href="{% url 'persona_app:all-employed' %}">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}